
.sidebar{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 308px;
  /* background-color: rgb(3, 5, 30) ; */
  margin-right: 28%  ;
  height: 100vh;
  left: 0%;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: linear-gradient(2deg,#595975,rgb(3, 5, 30));

}
.content{
  margin-top: 20%;
  padding-left: 15%;
  padding-right: 15%;
  color:white;
  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  align-items: center;
  justify-content: center;
}
.content h2{
  font-size: larger;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* border-bottom: 2px solid #3498db; */
  
}
.addEmp{
  font-size:126%;
  
}
.addEmp:hover{
  font-size:127%;
 
}
searchEmp{
  font-size: m;
}
.content h2 button{
  background-color:transparent ;
  color:white;
  /* background-color: rgb(109, 113, 113) ; */
  text-align: left;
  width: 100%;
  border: none;
  font-size: 100%;
  height: 30px;
  font-weight: bold;
  /* color:white; */
  font-family:Arial,Helvetica,sans-serif;
}
.content h2 button:hover{
  color: rgb(95, 95, 90);
  /* color:black; */
  font-size: 102%;
  
}
h2:hover{
  color:rgb(83, 80, 75);
  
  
}
.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: blueviolet; */
}

body {
  font-family: Arial, sans-serif;
}
/* 
nav {
  display: flex;
  background-color: #007BFF;
  padding: 10px;
  width: 30%;
  border-radius:20px; 
  position:absolute;
  top:10px;
  right: 5%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

nav ul li button:hover {
  background-color: #0056b3;
  color: black;
} */
/* img{
  background-color: #0056b3;
} */
.title{
  font-size:300%;
  position: absolute;
  left:20%;
  width: 50%;

}

.title:hover{
  font-size:302%;
  left:20%;
  color: rgb(3, 5, 30);
}

.header{
  background-color :rgb(3, 5, 30) ;
  width:80.3%;
  height: 70px;
  position: absolute;
  left:19.7%;
  display: flex;
  justify-content: center;
 background: linear-gradient(135deg, rgb(3, 5, 30), #5a595d);
}
.header h1{
  color:aliceblue;
  width: 100%;
  height: 50%;
  margin-left: 25%;
  margin-bottom: 80%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.profile{
  /* background-color:rgb(22, 30, 3); */
  margin-top: 1.5%;
  width:4%;
  height: 5vh;
  margin-right: 2%;
}
.homeIcon{
  /* background-color: rgb(3, 5, 30); */
  color:white;
  width: 15%;
}
.empIcon{
  /* background-color: rgb(3, 5, 30); */
  
   /* background-color: antiquewhite; */
  width: 20%;
}
.logo img{
  margin-left:25%;
  margin-top: 9%;
}